<section class="work section" id="work">
  <h2 class="section-title">Education</h2>

  <div class="row">
    <div class="column one">
      <div class="card1">
        <span class="subtitle"><h3>Sarajevo School of Science and Technology Bosnia and Herzegovina</h3></span>
        <div class="text">
        <p>Partner with Buckingham University, UK</p>
        <p>2019 – today</p>
        <p>Average grade: 9.0 </p>
        <p>All lectures and work in English.</p>
        <p>BSc in Computer Engineering (expected in 2023)</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card2">
        <span class="subtitle"><h3>International Baccalaureate Diploma Program(IBDP), Bosnia and Herzegovina</h3></span>
        <div class="text">
        <p>Partner with Buckingham University, UK</p>
        <p>Partner with many high schools around the world</p>
        <p>2015 – 2019</p>
        <p>All courses and papers in English</p>
        </div>
      </div>
    </div>
  </div>
</section>
