<header>
<div class="hero">
  <nav>
    <img src="https://images.vexels.com/media/users/3/140030/isolated/preview/521136d25b37386f49728b93d2e4e6fa-cv-icon.png" class="logo">
    <ul>
      <li><a routerLink="/about" routerLinkActive="active">About me</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Experiences</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <a routerLink="" routerLinkActive="active" class="btn">Go back to main</a>
  </nav>
</div>
</header>
<router-outlet></router-outlet>
