
<section class="about section " id="about">
  <h2 class="section-title">About me</h2>

  <div class="about__container bd-grid">
    <div class="about__img">
      <img src="https://media-exp2.licdn.com/dms/image/C4E03AQEliuon37SYpA/profile-displayphoto-shrink_200_200/0/1648132089093?e=1660780800&v=beta&t=sB9lx4d9DZJRO7lY3HMaRuukGVs6SNSOxSXyXw8rEJU">
    </div>

    <div>
      <p class="p1">Address:</p><p> Ramiza Salčina 310 </p>
      <p class="p1">Country:</p><p> Bosnia and Herzegovina</p>
      <p class="p1">Place and date of birth:</p><p> 10th December 1999, 71000 Sarajevo</p><br>

      <p class="about__text">In high school and college, I became interested in computer science. More
        intense interest and more serious work began in 2017 in high school. Since
        then, I have worked on a number of projects related to creating real-life
        applications, designing websites or both school projects and
        extracurricular activities and business-related projects and how
        certain companies run their businesses.</p><br>

      <p class="about__text">I trained swimming intensely for seven years. As a very successful swimmer, I
        have been part of the national team since 2015. Many national and
        international competitions are behind me.</p><br>

      <p class="about__text">I am a very responsible and resourceful person, who performs
        duties on time. I skillfully allocate my time for private and business
        obligations, I am also a very flexible person. I learn easily and quickly, so I
        am a communicative, creative and team-oriented person.</p>
    </div>
  </div>
</section>
