
<section class="work section" id="work">
  <h2 class="section-title">Experiences</h2>

  <div class="row">
    <div class="column">
      <div class="card">
        <h3> Elementary school "Aleksa Santic", application making 2018 </h3>
        <p class="text"> Designing and creating applications for the needs of the
          school library; creating a large database that makes it easy to
          find places and numbers of books and the names and dates of students who have taken a particular book. </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3> Coach in the swimming clubs "Sport Time", "Spid" and "Adriatic" 2019 - today </h3>
        <p class="text">Trainings and work with children aged 4 to 14. </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Trainer in the project of the Ministry of Education of Kanton Sarajevo in cooperation with the swimming
          club "Spid" called “Plivanjem do inkluzije” 2021 </h3>
        <p class="text">Trainings and work with children with disabilities and developmental
          difficulties aged 4 to 7 years. </p>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Internship in IT company Paladino </h3>
        <p class="text">Internship is based on working as a software engineer. I work on both frontend and backend
          of the application. </p>
      </div>
    </div>
  </div>
</section>
