<section class="contact section" id="contact">
  <h2 class="section-title">Contact me</h2>

  <div class="contactme">
    <p>TELEPHONE: +387 60 341 7565</p>
    <p>EMAIL: nejrabujak@gmail.com  or:</p> <br>
  </div>

  <div class="contact__container bd-grid">
    <form action="" class="contact__form">
      <input type="text" placeholder="Name" class="contact__input">
      <input type="mail" placeholder="Email" class="contact__input">
      <textarea name="" id="" placeholder="Leave me a message" cols="0" rows="10" class="contact__input"></textarea>
      <input type="button" value="Enter" class="contact__button button">
    </form>
  </div>
</section>





