<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<section class="skills section" id="skills">

  <div class="skills__container bd-grid">
    <div>
      <h2 class="skills__subtitle">Profesional Skills</h2>

      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">HTML & CSS</span>
        </div>
        <div class="skills__bar skills__html w3-container w3-center w3-animate-left">

        </div>
        <div>
          <span class="skills__percentage">90%</span>
        </div>
      </div>

      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">PHP</span>
        </div>
        <div class="skills__bar skills__php w3-container w3-center w3-animate-left">

        </div>
        <div>
          <span class="skills__percentage">80%</span>
        </div>
      </div>

      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">ANGULAR</span>
        </div>
        <div class="skills__bar skills__an w3-container w3-center w3-animate-left">

        </div>
        <div>
          <span class="skills__percentage">75%</span>
        </div>
      </div>
      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">SPRING BOOT</span>
        </div>
        <div class="skills__bar skills__sp w3-container w3-center w3-animate-left">

        </div>
        <div>
          <span class="skills__percentage">60%</span>
        </div>
      </div>
    </div>
  </div>
</section>
